<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Update department</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/departments/{id}(id=${departmentDto.getDepartmentId()})}" th:object="${departmentDto}">
	<label for="departmentName">Enter new department</label>
	<input type="text" th:field="*{departmentName}" id="departmentName">
	<br/>
	<input type="submit" value="Update">
</form>
<hr/>
<br/>
<br/>
<a href="/departments">List of departments</a>
</body>
</html>